<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Plane Spotters</h3>
          <nav class="nav nav-masthead">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" [routerLink]="['/album']">Album</a>
          </nav>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">Plane Spotters</h1>
        <p class="lead">Aircraft spotting or plane spotting is a hobby of tracking the movement of aircraft, which is often accomplished by photography.
        Besides monitoring aircraft, aircraft spotting enthusiasts also record information regarding airports, air traffic control communications and airline routes.</p>
        <br>
        <p class="lead">
          <a [routerLink]="['/album']" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>#E2ETESTING</p>
          <p>Created using bootstrap 4 templates</p>
        </div>
      </div>

    </div>

  </div>

</div>
